<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Products List</h1>
    <form th:method="GET" th:action="@{/shop/productList}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />
        <input type="submit" value="Search" />
    </form>
    <table class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Volume</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="Product:${products}">
                <td th:text="${Product.getId()}"></td>
                <td th:text="${Product.getCategory()}"></td>
                <td th:text="${Product.getName()}"></td>
                <td th:text="${Product.getManufacturer()}"></td>
                <td th:text="${Product.getVolume()}"></td>
                <td th:text="${Product.getPrice()+'₸'}"></td>
                <td><a th:href="@{/shop/{id}(id=${Product.getId()})}">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!--
<div th:each="Product : ${products}">
    <a th:href="@{/shop/{id}(id=${Product.getId()})}"
       th:text="${Product.getId()+': '+Product.getName() + ', ' + Product.getPrice()+'₸' }">user</a>
</div>
-->
<br/>
<hr/>
<a href="/shop/new">Add Product</a>
</body>
</html>